.login_container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;

    .login_content{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    label{
        font-size: 14px;
    }
}