body {
    margin: 0;
    font-family: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI", "Figtree", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    background-color: rgb(249, 249, 249, 0.7) !important;
}
h1 {
    color: #165a72;
}
.menu1 {
    margin-bottom: 40px;
    margin-top: 20px;
}
h2 {
    color: #165a72;
}

.active-menu-item {
    background-color: #f0f0f0; /* Change this to the desired background color */
    /* Add any other styles for the active menu item */
  }

 .ps-sidebar-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 100%;
 }
  
 .ps-sidebar-container .css-dip3t8{
    position: fixed;
 }